In [16]:
import pandas as pd
import numpy as np
df = pd.read_csv('ad.csv')
df

     ad_id  action
0        B       1
1        B       1
2        A       0
3        B       0
4        A       1
...    ...     ...
1995     A       0
1996     A       0
1997     A       0
1998     A       1
1999     A       0

[2000 rows x 2 columns]

In [3]:
pd.crosstab(df['ad_id'], df['action'])

action    0    1
ad_id
A       696  304
B       628  372

In [6]:
372-304

68

In [5]:
pd.crosstab(df['ad_id'], df['action'], normalize=True)

action      0      1
ad_id
A       0.348  0.152
B       0.314  0.186

In [7]:
0.186-0.152

0.034

In [10]:
N1=1000
N2=1000
p1=304/N1
p2=372/N2
print(p1,p2)

0.304 0.372

In [11]:
#H0: p2=p1, или p2-p1=0
#H1: p2>p1
p2-p1

0.068

In [13]:
p_hat =(304+372)/(N1+N2)
p_hat

0.338

In [20]:
var = p_hat*(1-p_hat)*(1/N1+1/N2)
var

0.00044751199999999995

In [21]:
se = np.sqrt(var)
se

0.02115447943108031

In [23]:
# t-test
t_score = (p2-p1)/se
t_score

3.2144492244084213

In [24]:
import scipy.stats as stats

In [27]:
stats.norm.cdf(t_score)

0.9993465248633937

In [29]:
stats.t.cdf(t_score, df = N1+N2-2)

0.9993361021619558

In [30]:
p_value = 1 - stats.t.cdf(t_score, df = N1+N2-2)
p_value

0.000663897838044214

In [31]:
alpha = 0.05
p_value > alpha

False

In [ ]:
# На уровне значимости 0.05 % мы можем отклонить Н0 гипотезу
# p2>p1